.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: blue;
    width: 20px;
    height: 20px;
    margin-top: -6px;
}