.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: blue;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}